<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Digital language status</title>
	{% load staticfiles %}
</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header" class="container">
				<h1><a href="home">Digital language status</a></h1>
			</div>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
	<div id="footer"></div>
</body>
</html>
