{% extends "dld_base.html" %}
{% load staticfiles %}

{% block content %}
<h2>{{ object }}</h2>
<b>English name:</b> {{ object.name }}
<br />
<b>Native name:</b> {{ object.native_name }}
<br />
SIL code: {{ object.sil }}
<br />
<b>Alternative names:</b>
{% for a in object.alt_name.all|dictsort:"name" %}
{{ a }}{% if not forloop.last %}, {% endif %}
{% endfor %}
<br />
<b>Population (Ethnologue):</b> {{ object.eth_population }}
<br />
<b>Country:</b>
{% for c in object.country.all|dictsort:"name" %}
{{ c }}{% if not forloop.last %}, {% endif %}
{% endfor %}
{% endblock content %}
