{% extends "ml_base.html" %}
{% load staticfiles %}

{% block content %}
<h2>{{ object.title }}</h2>

{% for authorship in object.authorship_set.all %}
{% if forloop.last %}
<a href="/ml/user/{{ authorship.author.user }}">{{ authorship.author.user.first_name }} {{ authorship.author.user.last_name }} </a>
{% else %}
<a href="/ml/user/{{ authorship.author.user }}">{{ authorship.author.user.first_name }} {{ authorship.author.user.last_name }}, </a>
{% endif %}
{% endfor %}
: {{ object.title }} ({{ object.year }})
<br />
{% endblock content %}
